bot de whats.json
{
  "name": "bot de whats",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -288,
        16
      ],
      "id": "f8ac6f77-6f58-4520-abdd-a0ee07f52276",
      "name": "WhatsApp Trigger",
      "webhookId": "3013dad9-94b3-44b6-875e-5bc071d0bde4",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "n62RT8AoapcNkgJP",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Responde a : {{ $json.mensaje }}",
        "options": {
          "systemMessage": "Eres un asistente de una clínica veterinaria"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1744,
        -352
      ],
      "id": "8a29a826-cfc7-4902-8ccc-a3fa233e9725",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1680,
        -128
      ],
      "id": "74dfb072-5d03-4777-8553-d3ca2fe8802e",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "M3bnAuLjB8jJbe1X",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.messages[0].text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "caba446d-4ce4-4647-bed1-f1dbf09e0b6e"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "TEXTO"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "64910c27-c199-46b0-ab72-f0c34b95bad5",
                    "leftValue": "={{ $json.messages[0].audio }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "AUDIO"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "85ddc870-ab09-4762-b756-710593b6ae18",
                    "leftValue": "={{ $json.messages[0].image }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "IMAGEN"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -80,
        16
      ],
      "id": "1e27f1b2-535e-4219-a88f-205b639d489d",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $json.messages[0].audio.id }}"
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        480,
        32
      ],
      "id": "e58f96a5-6a52-4222-8817-a275a4ebf156",
      "name": "Download media",
      "webhookId": "33ce3797-e67a-4340-aaaa-147601d505e1",
      "credentials": {
        "whatsAppApi": {
          "id": "CStcIqyOiTwPPTU8",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        688,
        32
      ],
      "id": "488b0814-2b08-4a47-ae9b-d343451aa4f7",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "HfZX3p2Ed4uqLLRT",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        896,
        32
      ],
      "id": "7907040d-2bad-4d57-879b-bfdd488d22f3",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "M3bnAuLjB8jJbe1X",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "965523346639257",
        "recipientPhoneNumber": "+523112533128",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        2080,
        -336
      ],
      "id": "d8ff2dbb-0ecd-4238-a22a-24357fc42cba",
      "name": "Send message",
      "webhookId": "cb2fafa8-a818-4127-a42e-b0e1a87f5a93",
      "credentials": {
        "whatsAppApi": {
          "id": "CStcIqyOiTwPPTU8",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9dd1776c-12ec-4ece-9f9f-2964e0e1602c",
              "name": "mensaje",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1104,
        32
      ],
      "id": "5b6724d9-beb1-4d92-b570-43b04c3d83ec",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "58a3b90a-8346-4f42-aaf9-2aa1d0418b18",
              "name": "mensaje",
              "value": "={{ $json.messages[0].text.body }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        544,
        -256
      ],
      "id": "e73d99ec-9189-46dd-a984-b6ff27d1e36a",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $('WhatsApp Trigger').item.json.messages[0].image.id }}"
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        160,
        240
      ],
      "id": "61ce3ddb-2f43-4a47-96b3-78321abaad2f",
      "name": "Download media1",
      "webhookId": "fd746dd5-3e93-4b51-ae73-a7b2ccd11c0b",
      "credentials": {
        "whatsAppApi": {
          "id": "CStcIqyOiTwPPTU8",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        432,
        256
      ],
      "id": "6238d9fd-3ce3-4700-aac1-ef9da5bbc219",
      "name": "HTTP Request1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "HfZX3p2Ed4uqLLRT",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "text": "=Responde a  {{ $('WhatsApp Trigger').item.json.messages[0].image.caption }}",
        "inputType": "base64",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        640,
        256
      ],
      "id": "04ea75f5-d8bc-4c98-aa72-a17076f48078",
      "name": "Analyze image",
      "credentials": {
        "openAiApi": {
          "id": "M3bnAuLjB8jJbe1X",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9dd1776c-12ec-4ece-9f9f-2964e0e1602c",
              "name": "mensaje",
              "value": "={{ $json['0'].content[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1104,
        208
      ],
      "id": "5961435e-e0bc-4c9f-aac0-74428b3073ea",
      "name": "Edit Fields1"
    }
  ],
  "pinData": {},
  "connections": {
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download media",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download media1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download media": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download media1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Analyze image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze image": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "cf4f3b98-b522-4f0c-a0f7-1e5c44e44ec2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "202a94bfea1d73e2cd8aa09fd4b8933d2167b7b20d551fa11347b3b1802a5171"
  },
  "id": "oxYuLRWDmcNgpYLA",
  "tags": []
}